<section id="about" class="bg-alt">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">About Michael</h2>
      </div>

      <div class="col-sm-6">
        <img src="{{ 'assets/img/img-1.jpg' | relative_url }}"
          class="photo" alt="{{ site.title }}" title="{{ site.title }}">
      </div>
      <div class="col-sm-6">
        <h3>Michael Napolitano is an American hair designer from <strong>New York City</strong>.</h3>
        <p>
          Michael attended college for marketing/advertising, then decided cosmetology school was a better choice.
          After Cosmetology school Michael entered an advanced haircutting academy in New York City, Jingles International.
        </p>
        <p>
          There he stood out among his classmates by winning the eye of his Art Director in 1994. Michael grew up in NYC,
          and he remains committed to working with innovative and cutting edge hair trends from around the world.
        </p>
      </div>

    </div><!-- end row -->

    <div class="row">
      <div class="col-sm-6">
        <img src="{{ 'assets/img/img-2.jpg' | relative_url }}"
          class="photo" alt="{{ site.title }}" title="{{ site.title }}">
      </div>
      <div class="col-sm-6">
        <p>
          Within 3 years Michael was teaching classes around the globe and started a network of salons in the greater New York area. He is now the creative force behind MAhD Studio in <strong>Santa Monica</strong>, California. Michael still maintains a bi-coastal clientele.
        </p>
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col-sm-8">
        <hr class="spacer">
        <blockquote>
            ThriftBear is reliable, like a bear. But also, light as a feather and fast-loading. 
            Our procedural product page design will make your other framework jealous.<br>
          – Aman Won
        </blockquote>

      </div>
    </div> <!-- end row -->

  </div> <!-- end container -->
</section>
