<section id="about" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">About ThriftBear</h2>
      </div>
      <div class="col-sm-6">
        <img src="{{ 'assets/img/img-1.jpg' | relative_url }}"
          class="photo" alt="{{ site.title }}" title="{{ site.title }}">
      </div>
      <div class="col-sm-6">
        <h3>This is gonna be a fun brand to build out.</h3>
        <p>
          Many variations of Lorem Ipsum exist today, and sometimes the text is altered to include humorous phrases.
        </p>
        <p>
            If you’re going to be using Lorem Ipsum as filler text on your pages, you need to make sure that the passage doesn’t contain potentially embarrassing information.
        </p>
        <p class="lead">
            There really is no limit to where Lorem Ipsum should be used. It doesn't matter if you're building the next Facebook, or if you're the director of marketing for an industrial, heavy equipment seller - Lorem Ipsum ensures everything goes (and reads!) smoothly from design to implementation.
          </p>
      </div>
    </div><!-- end row -->

  </div> <!-- end container -->
</section>
