
<section id="blog" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <h2 class="section-heading">Check Out Our Blog</h2>
        <h3>So many great coffee shop in Los Angeles, so little time...</h3> 
        <br><br>
          Our blog posts feature photos of coffee shop interiors, bean flavor profiles, best times of day to visit, 
          and all the important details like wifi availabity and menu offerings.<br>
        </p>
        <div class="banner-cta">
          <a href="https://blog.findsomecoffee.com/" class="btn btn-xl">Our Blog</a>
        </div>
      </div>  
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><img src="https://cdn-images-1.medium.com/max/600/1*4hocjglvkjJkG-WTh4KwlQ.png"></div>
      <div class="col-sm-6"><img src="https://cdn-images-1.medium.com/max/600/1*YL3w_TXneSqj_mhl-rv6pA.jpeg"></div>
    </div>

  </div>
</section>
