<section id="detail" class="bg-alt">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h2 class="section-heading">ThriftBear</h2>
      </div>

      <div class="col-sm-6">
        <h3>Bridging the Gap</h3>
        <p class="lead">
            The MAHD Studio platform bridges the gap between traditional education and the ability to build a profitable business in the beauty industry.
        </p>
        <p class="lead">
            The MAHD Studio series is a revolutionary platform which features industry-leading curriculum and modern learning aides.
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Creating a Visual Language</h3>
        <p class="lead">
            Unlike the traditional dry textbooks used in cosmetology school, the <strong>MAHD Studio</strong> interactive book employs
            advanced animation, interactive games, and learning quizzes to best meet the educational needs of young creative minds.
        </p>
        <p class="lead">
            We break haircuts down to their basic shapes—cubes, spheres, prisms—and show the student how
            using geometry allows them to build any haircut on any head from the ground up.
        </p>
      </div>

      <div class="col-sm-12 text-center">
          <a href="{{ site.app_link }}" class="btn btn-xl" target="_new">Download the Book Today</a>
      </div>

    </div>
  </div>
</section>
