<section id="detail" class="">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h2 class="section-heading">ThriftBear</h2>
      </div>


      <div class="col-sm-12">
        <hr class="spacer">
        <blockquote>
              ThriftBear is reliable, like a bear. But also, light as a feather, and lightning-fast.
              Our procedural product page design will make your other framework jealous.<br>
            – Aman F.
        </blockquote>
        <hr class="spacer">
      </div>

      <div class="col-sm-6">
        <h3>Column Header 1</h3>
        <p class="lead">
            Lorem Ipsum is absolutely necessary in most design cases, too. Web design projects like landing pages, website redesigns and so on only look as intended when they're fully-fleshed out with content.
        </p>
        <p class="lead">
            Even if the design work is gorgeous, its quality won't be apparent if all of the graphic elements are collapsed onto each other because there's no content in place to fill them out.
        </p>
      </div>

      <div class="col-sm-6">
        <h3>Column Header 2</h3>
        <p class="lead">
            Lorem Ipsum is absolutely necessary in most design cases, too. Web design projects like landing pages, website redesigns and so on only look as intended when they're fully-fleshed out with content.
        </p>
        <p class="lead">
            Even if the design work is gorgeous, its quality won't be apparent if all of the graphic elements are collapsed onto each other because there's no content in place to fill them out.
        </p>
      </div>

      <div class="col-sm-12 text-center">
          <a href="{{ site.app_link }}" class="btn btn-xl" target="_new">Generic CTA Goes Here</a>
      </div>

    </div>
  </div>
</section>
