<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="page-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <!-- <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
        <i class="fa fa-bars hamburger text-white"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{{ '#page-top' | relative_url }}">
        <img class="site-logo"
            src="{{ 'assets/svg/logo.svg' | relative_url }}"
            onerror="this.onerror=null; this.src='{{ \'assets/svg/logo.png\' | relative_url }}'"
            alt="{{ site.title }}" title="{{ site.title }}"
        >
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li><a class="page-scroll navbar-link" href="#mission">Our Mission</a></li>
        <li><a class="page-scroll navbar-link" href="#detail">Details</a></li>
        <li><a class="page-scroll navbar-link" href="#about">About</a></li>
        <li><a class="page-scroll navbar-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="banner-top">
      <!-- <div class="hero">Professional media packets for aspiring artists</div> -->
      <div class="hero">
        {{ site.hero_text }}
      </div>
    </div>
    <div class="banner-cta">
      <a href="#mission" class="page-scroll btn btn-xl">{{ site.hero_cta }}</a>
    </div>
  </div>
  <div class="video-overlay"></div>
  <div class="video-wrapper">
    <!-- <video playsinline playsinline muted autoplay loop preload="true" controls="false" volume="0" id="video-loop"> -->
    <!-- <video id="fsc-loop" preload="auto" autoplay="true" loop="true" muted playsinline volume="0">
      <source src="assets/vid/fsc-loop.mp4" type="video/mp4" codecs=avc1.42E01E,mp4a.40.2>
      <source src="assets/vid/fsc-loop.webm" type="video/webm">
    </video> -->
  </div>
</header>
