<section id="mission" class="bg-alt">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Why ThriftBear, you ask?</h2>
        <h3>
          Hosted ecommerce solutions are a great option for simple stores with low to medium traffic.
          But what happens when your store’s needs <strong>outgrow</strong> the capabilities of your current solution?
        </h3>

        <p class="lead">
            Features
        </p>
        <ul>
            <li>Product and inventory management </li>
            <li>Order management</li>
            <li>Every major payment gateway </li>
            <li>Always 100% FREE to use</li>
        </ul>
      </div>
    </div>
  </div>
</section>
