<section id="mission" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Our Process, Your Story.</h2>
        <h3>
          Hosted ecommerce solutions are a great option for simple stores with low to medium traffic.
          But what happens when your store’s needs <strong>outgrow</strong> the capabilities of your current solution?
        </h3>
        <hr class="spacer">

        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-xs-12 text-center">
        <img class="vector-icon"
          src="{{ 'assets/svg/magnifier.svg' | relative_url }}"
          onerror="this.onerror=null; this.src='{{ \'assets/svg/magnifier.png\' | relative_url }}'"
          alt="{{ site.title }}" title="{{ site.title }}"
        >
        <h3>Discover</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt ultricies ultrices. Pellentesque et erat elit.</p>
      </div>
      <div class="col-sm-4 col-xs-12 text-center">
          <img class="vector-icon"
            src="{{ 'assets/svg/pen.svg' | relative_url }}"
            onerror="this.onerror=null; this.src='{{ \'assets/svg/pen.png\' | relative_url }}'"
            alt="{{ site.title }}" title="{{ site.title }}"
          >
        <h3>Design</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt ultricies ultrices. Pellentesque et erat elit.</p>
      </div>
      <div class="col-sm-4 col-xs-12 text-center">
          <img class="vector-icon"
            src="{{ 'assets/svg/timer.svg' | relative_url }}"
            onerror="this.onerror=null; this.src='{{ \'assets/svg/timer.png\' | relative_url }}'"
            alt="{{ site.title }}" title="{{ site.title }}"
          >
        <h3>Deliver</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt ultricies ultrices. Pellentesque et erat elit.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
          <hr>
      </div>

      <div class="col-sm-8 col-xs-12 text-center">
        <h3>ThriftBear helps you find new customers</h3>
        <p>LLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit neque quis mi dictum, gravida pharetra leo finibus. Quisque cursus ac massa sit amet accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit neque quis mi dictum, gravida pharetra leo finibus. Quisque cursus ac massa sit amet accumsan.</p>
      </div>
      <div class="col-sm-4 col-xs-12 text-center">
          <img class="vector-icon-lg"
            src="{{ 'assets/svg/charts.svg' | relative_url }}"
            onerror="this.onerror=null; this.src='{{ \'assets/svg/charts.png\' | relative_url }}'"
            alt="{{ site.title }}" title="{{ site.title }}"
          >
      </div>
    </div>

    <!-- <div class="row ">
      <div class="col-sm-12 text-center">
        <h3>Features</h3>
        <ul>
            <li>Product and inventory management </li>
            <li>Order management</li>
            <li>Every major payment gateway </li>
            <li>Always 100% FREE to use</li>
        </ul>
      </div>
    </div> -->

  </div> <!-- End Container -->
</section>
