<section id="mission" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Why ThriftBear, you ask?</h2>
        <h3>
          Hosted ecommerce solutions are a great option for simple stores with low to medium traffic.
          But what happens when your store’s needs <strong>outgrow</strong> the capabilities of your current solution?
        </h3>

        <p class="lead">
        <ul>
            <li>Product and inventory management </li>
            <li>Order management</li>
            <li>Every major payment gateway </li>
            <li>Always 100% FREE to use</li>
        </ul>
        </p>
        <hr class="spacer">
        <blockquote>
          During my career in hair styling industry, I have found a lack of consistent vocabulary, and close to no
          <strong>universal visual language</strong>.
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <hr class="spacer">
        <h3>We want to change all of that.</h3>
        <p>
          This is where <strong>MAHD Studio</strong> comes in.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">Establishing a Visual Language</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>
          MAHD Studio is a cost effective educational tool for <strong>beauty schools, salons, and stylists</strong>.
          The teaching methodology in the MAHD Studio app rebuffs the traditional, imprecise language of haircutting in
          favor of the <strong>precise language</strong> of shapes and angles.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div
      class="video-clip"
      id="video-clip-wrapper"></div>
    </div>
  </div>
</section>
