<!-- Services Section -->
<section id="mobile-app" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="section-heading">The Fundamentals</h2>
      </div>

      <div class="col-sm-4">
        <p class="lead">
          <a href="{{ site.app_link_1 }}"">
            <!-- <img class="photo" src="assets/img/MAHD-Studio-Chapter-1-apple-books.jpg"> -->
            </a>
        </p>
      </div>

      <div class="col-sm-8">
        <h3>Download the first chapter of MAHD Studio's <strong>Construct and Design</strong> interactive book for free!</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <p class="lead">
          <a href="{{ site.app_link_2 }}"">
            <!-- <img class="photo" src="assets/img/MAHD-Studio-Chapter-2-apple-books.jpg"> -->
            </a>
        </p>
      </div>
      <div class="col-sm-8">
        <h3>
          Also, check out <a href="{{ site.app_link_2 }}"">Chapter 2</a> in our series, now available for $2.99 in the Apple Books store. Pre-order it today!
        </h3>
          <p class="lead">
            It builds on the content covered in Chapter 1, and moves on to more advanced concepts such as Layers, Graduation, and Lines.
          </p>
          <hr>
          <p class="lead">
            We're always looking to improve {{ site.product_name }}.
            Feel free to email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a> with suggestions.
          </p>
          <p class="lead">
            Looking forward to hearing from you!
          </p>
      </div>
    </div>

    <!-- <div class="row cta">
    <div>
        <div class="col-lg-12 text-center">
        <a href="#contact" class="page-scroll btn btn-xl">Email Us</a>
      </div>
    </div> -->

  </div>
</section>
