<section id="slider-wrapper" class="">
  <!-- Slider -->
  <div id="slider">
    <div class="slider-content">
      <div class="slider-cell" id="pinned-element">
        <div id="trigger1" class="spacer s0"></div>
        <h2>This is DIV numba one</h2>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        </p>
      </div>
      <div class="slider-cell">
        <h2>This is DIV numba two</h2>
        <p>
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
          Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        </p>
      </div>
    </div>
  </div>
  <!-- End Slider -->
</section>
