<section id="slider" class="">
  <div class="gallery">
    <div class="gallery-cell">
      <h2>This is DIV numba one</h2>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
    <div class="gallery-cell">
      <h2>This is DIV numba two</h2>
      <p>
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
      </p>
    </div>
  </div>
</section>
