/* external css: flickity.css */
// * {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }


.gallery-cell {
  width: 94%;
  height: 100%;
  border: 1px solid #eaeaea;
  margin: 0 3%;
  // background: #8C8;
  counter-increment: gallery-cell;

  &:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
}
